<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Status</title>
    <link href="main.css" rel="stylesheet" />
  </head>
  <body class="dark:bg-gray-900 dark:text-gray-400">
    <main class="max-w-3xl mx-auto px-4 flex flex-col gap-8">
      <h1 class="text-xl text-center mt-8">{{ .CheckUrl }}</h1>

      <div class="grid grid-cols-[repeat(60,minmax(0,1fr))] gap-0.5">
        {{range .Entries}} {{ if .Reachable }}
        <div
          title="{{.DateTime}}"
          class="aspect-square rounded-sm bg-green-200"
        ></div>
        {{ else }}
        <div
          title="{{.DateTime}}"
          class="aspect-square rounded-sm bg-red-200"
        ></div>
        {{ end }} {{end}}
      </div>

      <div class="w-full max-w-xl mx-auto flex flex-col-reverse gap-2 mb-4">
        {{range .Entries}}
        <div
          class="flex justify-between bg-gray-50 dark:bg-gray-800 p-4 rounded-xl"
        >
          <p>{{.DateTime}}</p>
          {{ if .Reachable }}
          <div class="text-green-500">Status {{.Status}}</div>
          {{ else }}
          <div class="text-red-500">Status {{.Status}}</div>
          {{ end }}
        </div>
        {{end}}
      </div>
    </main>
  </body>
</html>
